<section class="home centered-content">
  <h1>{{ settings.headline }}</h1>
  <p>{{ settings.subheadline }}</p>
</section>

<section class="home about">
  <div>
    <h4>Identity.</h4>
    <p>{{ site.profile.bio }}</p>
  </div>
</section>