<section class="home centered-content">
  <h1>{{ settings.headline }}</h1>
  <p>{{ settings.subheadline }}</p>
</section>

<section class="home about">
  <div>
    <h4>Identity.</h4>
    <p>{{ site.profile.bio }}</p>
  </div>
</section>


<!-- 
<section class="home about">
<div>
<h4>Recognition.</h4>
<p>{{ site.profile.bio }}</p>
</div>
<div class="grid-container">
<div class="grid-item">
California’s EDD is so hard to reach that unemployed people are paying go-betweens to do it for them
<a href="https://www.sfchronicle.com/local/article/California-s-EDD-is-so-hard-to-reach-that-16211432.php" target="_blank">Read</a>
</div>
<div class="grid-item">2</div>
<div class="grid-item">3</div>
<div class="grid-item">4</div>
<div class="grid-item">5</div>
<div class="grid-item">6</div>
</div>
</section>
-->