@import 'reset';

// ----------------------------------------------------------
// General
// ----------------------------------------------------------

body {
 font-size: 16px;
 line-height:1.5;
 font-family: TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif; ;
 height: auto;
 min-height: 100vh;
 padding: 1.5rem;
 display: flex;
 flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 5.62em;
}
h2 {
  font-size: 4.21em;
}
h3 {
  font-size: 3.16em;
}
h4 {
  font-size: 1.78em;
}
h5 {
  font-size: 1.33em;
}
h6 {
  font-size: 1.25em;
}
p {
  font-size: 1em;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &, &:visited {
    color: inherit;
  }
}

form {
  textarea, input[type=text], input[type=password] {
    font-size: 1em;
    padding: 0.4em 0.4em 0.3em;
    line-height: 1;
    border: 1px solid #ddd;
  }

  input[type=checkbox] {
    vertical-align: baseline;
  }

  input[type='submit'] {
    border: 1px solid #ddd;
    background-color: #fefefe;
    padding: 0.4em 1em 0.3em;
    transition: background-color 0.25s;
    border-radius: 1px;
  }
  input[type='submit']:hover {
    background-color: #efefef;
  }
}

// ----------------------------------------------------------
// Layout
// ----------------------------------------------------------

body {
  margin: auto;
  width: 100vw;
  max-width: 100%;
  position: relative;
}

body > * {
  max-width: 100%;
}

body > .posthaven-user-menu {
  position: absolute;
  right: 0;
  padding: 0.3em;

  a {
    display: inline-block;
    margin-left: 0.25em;
  }
}

body > header {
  width: 100%;
  // margin-bottom: 3em;

  h1 {
    // margin-top: 1em;
    font-size: 1.5em;
  }

  h3 {
    margin: 0.25em 0 0.75em;
    // font-size: 1.25em;
    font-size: 0.9375em;
  }

  nav {
    margin-top: 0em;

    li {
      font-size: 1em;
      display: inline-block;
      margin-right: 2em;

      &:last-child {
        // styles for the last child of a nested li element
        margin-right: 2em;
      }

      a {
        font-weight: normal;
      }
    }
  }
}
body > main {
  width: 800px;

  h2 {
    font-size: 3.16em;
    margin-bottom: 0.25em;
  }
}
body > aside.sidebar {
  width: 300px;
  padding-left: 100px;

  section {
    margin-bottom: 3em;

    h1 {
      font-size: 1.33em;
      font-weight: bold;
      margin-bottom: 0.33em;
    }

    ul {
      list-style: disc;
      padding-left: 1em;
    }
  }

  .posthaven-subscribe-form span {
    display: none;
  }

  section.archive, section.subscribe {
    a {
      font-weight: bold;
    }
  }

  section.archive {
    form {
      margin-bottom: 0.4em;

      input {
        width: 100%;
      }
    }
  }
}

body > footer {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;

  p.paragraph {
    font-size: 12px;
    color: inherit;
    text-align: right;
  }

  p.paragraph.left {
    text-align: left;
  }
}

.not-found {
  display: flex;
  flex-direction: row;
  align-items: center;

  h2 {
    margin-right: .5rem;
    margin-bottom: 0 !important;
  }
  h4 {
    margin-left: .5rem;
  }
}

.grid-item {
  padding: 5px 0 !important;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.centered-content {
  h1 {
    font-size: 2.5rem;
    // margin-bottom: 0.25em;
  }
  text-align: center;

  p {
    margin-top: 0.25em;
    font-size: 1rem;
  }
}

section.dated {
  height: auto;
  display: flex;
  align-items: normal;
  width: 100%;
  justify-content: flex-start;
  min-height: 80vh;
  margin-top: 5vh;
  flex-direction: column;
  h4 {
    font-size: 2.5em;
  }
}

// ----------------------------------------------------------
// Posts
// ----------------------------------------------------------

article.post, article.page {
  max-width: 100%;

  figure {
    margin-bottom: 1em;
  }

  header {
    position: relative;
    padding: 10px 0px;
    // display: block;
    // text-align: left;

    .private-indicator {
      position: absolute;
      top: 0;
      right: 0;
    }

    h1.title {
      font-size: 2.16em;
      margin-bottom: 0.5em;
    }
  }

  div.body {
    margin-bottom: 1.5em;

    h1, h2, h3, p, ul, ol {
      margin-bottom: 0.5em;
    }

    h1, h2, h3 {
      font-weight: bold;
    }
    h1 {
      font-size: 1.78em;
    }
    h2 {
      font-size: 1.33em;
    }
    h3 {
      font-size: 1.25em;
    }

    b, strong {
      font-weight: bold;
    }

    ul, ol {
      padding-left: 2em;
    }

    ul {
    }
    ol {
    }

    p {
      margin: 0 0 1em 0;
    }

    blockquote {
      margin-left: 1em;
      border-left: 0.125em solid #ddd;
      padding-left: 0.875em;
    }
    table {
      width: 100%;

      &, th, td {
        border-top: 1px solid #ddd;
      }
      th, td {
        padding: 0.33em;
      }
    }
  }

  footer {
    margin-bottom: 1.5em;

    div.details {
      margin-bottom: 0.75em;
      font-size: 0.9em;
      opacity: .5;
      margin-right: 1em;
    }

    div.tags {
      font-size: 0.9em;
      margin-bottom: 1em;

      li {
        display: inline-block;
      }
    }
  }
}

footer.post-responses {
  .responses {
    margin-bottom: 2em;

    .response {
      margin: 2em 0;

      .byline {
        margin-top: 0.25em;
        font-size: 0.7em;
      }

      ul, ol {
        padding-left: 1em;
      }
      ul {
        list-style: disc;
      }
      blockquote {
        padding-left: 0.9em;
        border-left: 0.1em #ddd;
      }
    }

    table {
      width: 100%;

      &, th, td {
        border-top: 1px solid #ddd;
      }
      th, td {
        padding: 0.33em;
      }
    }
  }

  .new-comment {
    margin: 1em 0 2em;
  }
}

article.post {
  margin-top: 15em;
  margin-bottom: 3em;
}

section.posts article.post {
  margin-bottom: 6em;

  header {
    h1.title {
      font-size: 1.78em;
    }
  }
}

/* Basic styling for the sections */
section.home {
  position: relative;
}

section.home {
  h1 {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.2;
    word-wrap: break-word;
    font-size: 2.5em;
    a {
      text-decoration: none !important;
    }
  }
}

.arrow-down {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

section.home {
  height: auto;
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
  min-height: 80vh;
  margin-top: 5vh;
  flex-direction: column;
  margin-bottom: 5vh;

  h4{
    margin-bottom: .12em;
    font-size: 2.5rem;
  }
}

section.recognition {
  width: 100%;
  min-height: 100vh;
  align-items: start;
  margin-bottom: 4em;
}

footer.pagination {
  li {
    display: inline-block;
    margin-right: 0.25em;

    a {
      font-size: 0.9em;
      display: inline-block;
      border: 1px solid #ddd;
      padding: 0.5em 1em;
    }

    &.active a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

// ----------------------------------------------------------
// Archive Page
// ----------------------------------------------------------

main > section.archive {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: auto;
  min-height: 100vh;
  margin-top: 12em;

  h2 {
    width: 100%;
  }

  .archive-content {
    display: flex;
    margin-top: 1em
  }

  .archive-header {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .archive-months {
    width: 200px;
    margin-bottom: 1em;
    ul {
      list-style: disc;
      padding-left: 1em;
    }

    .archive-all-dates {
      margin-top: 0.5em;
      font-size: 0.9em;
    }

    .posthaven-archive-selected a {
      color: inherit;
    }
  }

  .archive-results {
    max-width: 600px;
    flex: 1;

    form, input {
      margin-bottom: 0.75em;
      width: 100%;
    }

    li {
      margin-bottom: 0.5em;

      .archive-date {
        font-size: 0.8em;
      }
    }
  }

  .archive-pagination {
    margin-top: 0.25em;
    font-size: 0.9em;

    a {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

// ----------------------------------------------------------
// Password Page
// ----------------------------------------------------------

.private-password {
  main p {
    margin-bottom: 0.5em;
  }
}

// ----------------------------------------------------------
// Posthaven Internals
// ----------------------------------------------------------

.posthaven-subscribe-form {
}

.posthaven-share-links {
  display: inline-block;
  .posthaven-share-item {
  }
  .posthvaven-upvote {
  }
  .posthave-twitter-share {
  }
  .posthaven-facebook-share {
  }
}

.posthaven-comment-form {
  .posthaven-comment-add-url {
  }

  .posthaven-field {
    margin: 0.75em 0;

    label {
      display: block;
      margin-bottom: 0.25em;
    }

    textarea, input[type=text] {
      max-width: 95%;
      width: 34em;
    }

    input[type=checkbox] {
      vertical-align: baseline;
      margin-right: 0.25em;
    }

    &.posthaven-comment-notify-field {
      label {
        display: inline;
      }
    }
  }

  .posthaven-comment-verification {
    width: 34em;
    margin-bottom: 0.75em;
  }
}

.posthaven-share-links {
  .posthaven-share-item {
    display: inline-block;
    margin-right: 1em;
  }

  .posthaven-twitter-share {
    margin-right: 1.33em;
  }
}

.posthaven-private-form {
  .posthaven-field {
    display: inline-block;
    margin-right: 0.25em;
  }
}



// ----------------------------------------------------------
// Recongnition Section
// ----------------------------------------------------------

// Basic grid styling
.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2em;
}

.grid-item {
  flex: 1;
  min-width: calc(33.33% - 20px);
  padding: 20px 0;
  text-align: left;
  font-size: 1rem;
  box-sizing: border-box;
  text-transform: capitalize;
  h3{
    margin-bottom: 1em;
    font-size: .8rem;
    text-transform: uppercase;
    opacity: .5;
  }
}

// ----------------------------------------------------------
// Toggle Button
// ----------------------------------------------------------

.toggle-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-container {
  position: relative;
  width: 30px;
  height: 60px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.icon-sun,
.icon-moon {
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: all 0.3s;
}

.icon-sun {
  position: absolute;
  top: 5px;
  opacity: 1;
}

.icon-moon {
  position: absolute;
  bottom: 5px;
  opacity: 0.25;
}

.toggle-input:checked + .toggle-label {
  background-color: transparent;
  border: none;
}

.toggle-input:checked + .toggle-label .icon-sun {
  opacity: 0.25;
  top: auto;
  bottom: 5px;
}

.toggle-input:checked + .toggle-label .icon-moon {
  opacity: 1;
  top: 5px;
  bottom: auto;
}

body.dark-mode .icon-sun,
body.dark-mode .icon-moon,
body.dark-mode .arrow-down {
  filter: invert(1);
}

// ----------------------------------------------------------
// Media Queries
// ----------------------------------------------------------

/* Responsive breakpoint for small devices */
@media (max-width: 768px) {
  .grid-item {
    min-width: calc(100% - 10px);
  }

}

@media screen and (max-width: 1199px) {
  body {
    // padding: 1em;
  }
  body > main, body > aside.sidebar {
    // margin-top: 2em;
    width: 100%;
  }

  body > aside.sidebar {
    padding-left: 0;
  }
}

article {
  header {
    align-items: start !important;
  }
}

@media only screen and (max-width: 1024px) {
  article.post {
    margin-top: 3em !important;
  }

  main > section.archive {
    margin-top: 3em !important;
  }

  body {
    /* Styles for small screens (tablets, 768px and up) */
    display: flex !important;

    header {
      flex-direction: column;
      display: flex;
      align-items: center;
      text-align: center;

      nav {
        margin-top: 10px;
        margin: auto !important;

        ul {
          justify-content: center;
        }

        li {
          &:last-child {
            // styles for the last child of a nested li element
            margin-right: 0 !important;
          }

          a{
            font-weight: bold;
          }
        }
      }
    }
  }

  section.home {
    width: 90% !important;
  }

  .toggle-div {
    position: absolute;
    right: 0;
    margin-right: 1em;
    top: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .centered-content {
    h1 {
      font-size: 3.5rem;
    }
  }

  /* Styles for large screens (laptops, desktops) */
  header {
    width: 100% !important;
    max-width: 100% !important;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    padding: 1.75em;
  }

  body {
    header {
      h1 {
        a {
          text-decoration: none !important;
        }
        margin-top: 0 !important;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    nav {
      margin-left: auto;

      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin-left: 0px;
        }
      }
    }
  }
}

ul li {
  list-style-type: disc;
}


@keyframes pulseArrow {
  0%, 6.667%, 100% {
    transform: translateY(100%) translateX(-50%);
  }
  3.333% {
    transform: translateY(50%) translateX(-50%);
  }
  // Repeat these keyframes to make the arrow pulse 5 times
  13.333%, 20%, 26.667%, 33.333%, 40% {
    transform: translateY(100%) translateX(-50%);
  }
  10%, 16.667%, 23.333%, 30%, 36.667% {
    transform: translateY(50%) translateX(-50%);
  }
  // After the pulses, it stays at the initial position to simulate the pause
}

.arrow-down {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateY(100%) translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
  animation: pulseArrow 14.5s ease-in-out infinite;
}

/* Subscribe Button */
.subscribe {
  display: inline-block;
  top: -1px;
  position: relative;
  font-size: 14px;
}

.posthaven-anon.posthaven-subscribe-prompt {
  display: inline-block;
  padding: 3px 14px;
  background-color: var(--bg-color-dark);
  color: var(--bg-color);
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  top: -1px;
  position: relative;
}

body.dark-mode .posthaven-anon.posthaven-subscribe-prompt::before {
  content: ''; /* Required for a pseudo-element */
  position: absolute;
  top: 5px; /* Offset down */
  right: -5px; /* Offset to the left (negative value) */
  bottom: -5px; /* Offset up (negative value) */
  left: 5px; /* Offset to the right */
  background-color: var(--bg-color); /* Background color */
  z-index: -1; /* Ensures the background is behind the text */
}

.posthaven-anon.posthaven-subscribe-prompt::before {
  content: ''; /* Required for a pseudo-element */
  position: absolute;
  top: 4px; /* Offset down */
  right: -4px; /* Offset to the left (negative value) */
  bottom: -4px; /* Offset up (negative value) */
  left: 4px; /* Offset to the right */
  background-color: var(--bg-color-dark); /* Background color */
  z-index: -1; /* Ensures the background is behind the text */
}


body.dark-mode .posthaven-anon.posthaven-subscribe-prompt {
  background-color: var(--bg-color);
  color: var(--bg-color-dark);
}

.posthaven-subscribe-form {
  display: block;
  top: -5px;
  position: relative;
  font-size: 14px;
  margin-top: 20px;
}

.posthaven-subscribe-anon::before {
  content: 'Subscribe'; /* Title you want to add */
  display: block; /* Ensure the pseudo-element behaves like a block-level element */
  font-size: 24px; /* Example font size, adjust as needed */
  margin-bottom: 20px; /* Space between the title and the form */
}

.posthaven-subscribe-anon {
  display: block; /* Ensures it's treated as a block-level element */
  margin-bottom: 20px; /* Adjust as needed */
  font-size: 16px;
}

.posthaven-subscribe-anon > * {
  display: block; /* Makes each child take up its own line */
  margin-bottom: 10px; /* Adds space between elements */
}

.posthaven-anon input[type="text"], .posthaven-anon input[type="submit"], .posthaven-subscribe-anon input[type="text"], .posthaven-subscribe-anon input[type="submit"] {
  width: 100%; /* Makes the input fields fill their container */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  margin-top: 20px;
  margin-bottom: 20px;
}

.posthaven-subscribe-anon input[type="text"] {
  width: 100%; /* Ensures the input field fills the width of its container */
  padding: 10px; /* Adds space inside the field, making it taller and easier to interact with */
  font-size: 16px; /* Sets a comfortable reading size for the text entered */
  border-radius: 5px; /* Rounds the corners of the input field */
  border: 1px solid #ccc; /* Adds a subtle border to the field */
  box-sizing: border-box; /* Includes padding and border in the field's total width and height */
}

.posthaven-subscribe-anon input[type="submit"] {
  padding: 10px 20px; /* Adds space inside the button, making it wider and taller */
  font-size: 16px; /* Ensures the text on the button is easily readable */
  border-radius: 5px; /* Rounds the corners of the submit button */
  border: none; /* Removes the default border */
  background-color: var(--bg-color-dark); /* Uses CSS variable for the background color */
  color: var(--bg-color); /* Uses CSS variable for the text color */
  cursor: pointer; /* Changes the cursor to indicate the button is clickable */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode toggle */
}

/* Dark mode styles */
body.dark-mode .posthaven-subscribe-anon input[type="submit"] {
  background-color: var(--bg-color); /* Dark mode background color */
  color: var(--bg-color-dark); /* Dark mode text color */
}

/* Hover effects for the submit button to provide visual feedback */
.posthaven-subscribe-anon input[type="submit"]:hover {
  opacity: 0.9; /* Slightly reduces opacity on hover */
}

/* Archive Results */
.archive-entry {
  list-style-type: none;
}

.posthaven-archive-form input[type="text"] {
  width: 100%; /* Ensures the input field uses the full width available */
  padding: 15px 20px; /* Provides ample space inside the input field for easy interaction */
  font-size: 18px; /* Increases the font size for better readability */
  // border-radius: 10px; /* Adds rounded corners for a modern look */
  border: 1px solid #ccc; /* Defines a subtle border around the input field */
  box-sizing: border-box; /* Ensures padding and border are included in the width calculation */
  background-color: var(--bg-color); /* A light background color to distinguish the input field */
  color: var(--bg-color-dark)
}

body.dark-mode .posthaven-archive-form input[type="text"] {
  background-color: var(--bg-color-dark) !important; /* A light background color to distinguish the input field */
  color: var(--bg-color) !important;
}

.posthaven-archive-form input[type="text"]::placeholder {
  color: #aaa; /* Changes the placeholder text color for better contrast */
  opacity: 1; /* Ensures the placeholder text is fully opaque */
}

.posthaven-archive-form input[type="text"]:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #007bff; /* Changes the border color to highlight the input field when focused */
  box-shadow: 0 0 0 2px rgba(0,123,255,.25); /* Adds a subtle glow effect to indicate focus */
}

.archive-entry em {
  font-weight: bolder;
  text-decoration: overline;
  color: var(--search-result-color);
}


/* Home Button */

/* Base state */
a.home-post-button {
  background-color: var(--bg-color-dark); /* Dark mode background color */
  color: var(--bg-color); /* Dark mode text color */
  position: relative; /* Needed for offsetting the background */
}

/* Visited state */
a.home-post-button:visited {
  color: var(--bg-color); /* Example: Adjust if you want a different color for visited links */
}

// /* Other states like hover or focus could be added here, e.g., */
// a.home-post-button:hover {
//   background-color: var(--bg-color-dark); /* Adjust as needed */
//   color: var(--bg-color); /* Adjust as needed */
// }

a.home-post-button {
  color: var(--bg-color); /* Text color */
  position: relative; /* Enables absolute positioning of pseudo-elements inside */
  text-decoration: none; /* Optional: Removes underline from links */
  display: inline-block; /* Allows the use of width and height */
  padding: 10px 20px; /* Text padding - adjust as needed */
}

a.home-post-button::before {
  content: ''; /* Required for a pseudo-element */
  position: absolute;
  top: 5px; /* Offset down */
  right: -5px; /* Offset to the left (negative value) */
  bottom: -5px; /* Offset up (negative value) */
  left: 5px; /* Offset to the right */
  background-color: var(--bg-color-dark); /* Background color */
  z-index: -1; /* Ensures the background is behind the text */
}

body.dark-mode a.home-post-button::before {
  content: ''; /* Required for a pseudo-element */
  position: absolute;
  top: 5px; /* Offset down */
  right: -5px; /* Offset to the left (negative value) */
  bottom: -5px; /* Offset up (negative value) */
  left: 5px; /* Offset to the right */
  background-color: var(--bg-color); /* Background color */
  z-index: -1; /* Ensures the background is behind the text */
}

a.home-post-button, a.home-post-button:visited {
  background-color: var(--bg-color-dark); /* Light mode background color */
  color: var(--bg-color); /* Light mode text color */
  // box-shadow: 4px 4px 0 0 var(--bg-color-dark); /* Offset effect for light mode */
  // transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Smooth transitions for color and shadow changes */
}

body.dark-mode a.home-post-button, body.dark-mode a.home-post-button:visited {
  background-color: var(--bg-color) !important; /* Dark mode background color */
  color: var(--bg-color-dark) !important; /* Dark mode text color */
  // box-shadow: 4px 4px 0 0 var(--bg-color) !important; /* Offset effect for dark mode */
}


